.form-clear {
  border-color: var(--blue);
}

.form-error {
  border-color: var(--danger);
}

.form-msg {
  display: inline-block;
  box-sizing: content-box;
  font-size: 80%;
  padding-top: 0.5rem;
  padding-left: 0.8rem;
}

.form-msg-clear {
  color: var(--blue);
}

.form-msg-error {
  color: var(--danger);
}

.form-msg-hidden {
  display: none;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: initial;
  margin: 5px 15px;
}

.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: white;
}
